<!DOCTYPE html>
<html>
  <head>
    <title>Sev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/materia/bulmaswatch.min.css">
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%=image_tag "twitch.png"%>
          <h1 class="pl-1 subtitle is-4">Streamer Event Viewer</h1>
        </a>
        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>
    <section class="section">
      <div class="content">
        <div class="container">
          <%= yield %>    
        </div>
      </div>
    </section>
  </body>
</html>
